body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
    border: 0%;
}

.frase { 
    width: 100%;
    text-align: center;
    color: #8A2BE2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

.frase2 { 
    width: 100%;
    text-align: center;
    color: #8A2BE2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.ilustracao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10%;
    margin-left: 45%;
}


.adote {
    margin-left: 20%;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.logo {
    color: white;
    background-color: #4B0082;
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.navegacao1 {
    color: white;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #A020F0;
    
}

#adote:hover {
    font-size: 30px;
}

.navegacao:hover {
    color: cyan;
}

#container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imagem {
    display: flex;
    flex-wrap: wrap;
    width: 21%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  

.imagem img {
    width: 300px;
    height: 348px;
    object-fit: cover;
    display: flex;
    border-radius: 16px;
    margin: 10px;
    border: solid #4B0082;
}

.imagem img:hover {
    border: 5px solid #8A2BE2;
    box-sizing: #5c075c 8px 8px 10px;
}


.imagem p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #8A2BE2;
    display: flex;  
    margin-left:auto;
    margin-right:auto;
    margin-top: 0;
    flex-direction: column;
    background-color: #D8BFD8;
    border-radius: 8px;
    padding: 5px;
}



footer {
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-size: 15px;
}

.footer1 {
    align-items: center;
    color: white;
    background-color: #4B0082;
    padding: 15px;
    width: 100%;
    text-align: center;
    }

@media  (max-width: 700px) {

    .logo {
        height: 200px;
    }

    .adote {
        display: none;
    }

    .navegacao1 {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #container {
        flex-direction: column;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
}


